<section class="relative xl:py-[70px] md:py-[60px] sm:py-[38px] py-[34px]">
    <div class="container relative">
        <div class="sm:flex items-end justify-between lg:mb-[50px] md:mb-10 sm:mb-[34px] mb-7 relative">
            {{ setting }}
            <div class="w-fit">
                <h2 class="title md:mb-4 sm:mb-3 mb-2 w-fit">
                    {{ sub_title }}
                </h2>
                <p class="2xl:max-w-[65%] sm:max-w-[80%] w-full text-[#464343]">{{ section_description }}</p>
            </div>
            {{ /setting }}
        </div>
        <div class="flex sm:items-center items-start sm:flex-nowrap flex-wrap sm:gap-[18px] gap-2 justify-between w-full border-b border-[#00000026] xl:pb-[28px] sm:pb-6 pb-[22px] xl:mb-11 lg:mb-9 md:mb-7 mb-[25px] relative">
            {{ setting }}
            <p class="m-0 font-lexend font-light normal-case sm:text-center text-start text-black cursor-default md:block hidden">
                {{ browse_all_label }}
            </p>
            {{ /setting }}

            <!-- Dropdown -->
            <div x-data="{ open: false }" class="md:w-auto w-full">
                <button @click="open = !open" class="flex items-center w-full md:justify-center justify-between">
                    <p>
                        {{ setting }}{{ dropdown_label }}{{ /setting }}
                        <span class="ml-1 font-normal">
                            {{ taxonomy:categories }}
                            {{ if slug == segment_3 }}{{ title }}
                            {{ /if }}
                            {{ /taxonomy:categories }}
                        </span>
                    </p>
                    <svg class="ml-1 h-4 w-4 transform transition-transform duration-200" :class="{ 'rotate-180': open }" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div x-show="open" @click.outside="open = false" x-transition class="max-w-[350px] absolute right-0 md:mt-[28.5px] mt-[23px] w-full bg-white shadow-[0_3px_10px_0_rgba(0,0,0,0.15)] z-40 xl:px-[30px] sm:py-[7px] md:px-6 px-4">
                    <ul class="divide-y divide-[#0000001A]">

                        {{ taxonomy:categories }}
                        {{ if slug != segment_3 }}
                        <li class="group/service">
                            <a href="/blog/category/{{ slug }}" class="block sm:py-[16px] py-[14px] text-black group-hover/service:text-primary-900 transition-colors">
                                {{ title }}
                            </a>
                        </li>
                        {{ /if }}
                        {{ /taxonomy:categories }}

                    </ul>
                </div>
            </div>
        </div>
        {{ collection:blogs as="blogs" categories:contains="{ category_slug }"  paginate="true" limit="6" }}
        <div class="blogs-2 grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 w-full 2xl:gap-x-[75px] 1xl:gap-x-[70px] xl:gap-x-[65px] sm:gap-x-8 lg:gap-8 md:gap-6 gap-[25px] grid_append">
            <!-- blog box - 1 -->

            {{ if blogs }}
            {{ blogs }}
            <div class="border-b border-[#00000026] 2xl:pb-[25px] pb-5 !h-auto grid-item-append">
                <div class="group">
                    <div class="overflow-hidden relative 2xl:before:pt-[110%] sm:before:pt-[112%] before:pt-[108%] before:block">
                        <a href="/blog/{{ slug }}" class="absolute top-0 left-0 w-full h-full block">
                            <img src="{{ image }}{{url}}{{ /image }}" alt="img" class="h-full w-full object-cover"
                            loading="lazy" />
                        </a>
                        <a href="/blog/{{ slug }}" class="2xl:w-[85px] 2xl:h-[85px] xl:w-[68px] xl:h-[68px] sm:w-[62px] sm:h-[62px] w-10 h-10 rounded-full bg-white/80 items-center justify-center absolute top-3 lg:top-5 right-3 lg:right-5 hover:bg-white hover:text-primary-900 hidden group-hover:flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" viewBox="0 0 69 69" fill="none" class="h-auto flex-shrink-0 2xl:w-[69px] xl:w-[60px] sm:w-[55px] w-[37px]">
                                <path d="M24.8251 24.825H44.5722M44.5722 24.825V44.572M44.5722 24.825L24.8251 44.572" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                    <div class="2xl:mt-[42px] 1xl:mt-[26px] md:mt-6 mt-4">
                        <p class="h6 text-primary-900 2xl:mb-[20px] mb-3 !font-medium">
                            {{ date_field format="F Y" }}
                        </p>
                        <h5 class="font-medium h4">
                            <a href="/blog/{{ slug }}" class="group-hover:text-primary-900">
                                {{ title }}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
            {{ /blogs }}
            {{ else }}
            <div class="text-center py-10">
                <p class="text-primary-900 text-lg">No blog posts found in this category.</p>
            </div>
            {{ /if }}
        </div>
        {{ paginate }}
        <input type="hidden" class="lastPage" value="{{ total_pages }}">
        <input type="hidden" class="currentPage" value="{{ current_page }}">
        {{ if next_page }} 
        <div class="load-more-wrap 2xl:mt-20 1xl:mt-17 lg:mt-15 md:mt-12 mt-9 flex justify-center">
            <div class="load-btn" style="text-align: center;">
                <a href="{{ next_page }}" class="btn ajax-load-more-grid">Load More <img src="{{theme:asset}}assets/images/loading-spinner.svg" alt="loader" class="loading-spin object-cover animate-spin hidden"></a>
            </div>
        </div>
        {{ /if }}
        {{ /paginate }} 
        {{ /collection:blogs }}

    </div>
</section>
