{{ coming_soon }}
<main class="min-h-[101vh] overflow-auto flex items-center justify-center bg-cover bg-center relative w-full" style="background-image: url('{{ background_image  }} {{ url  }} {{ /background_image  }}')">
  <div class="absolute inset-0 bg-primary-900/90"></div>

  <div class="container 2xl:pt-[180px] lg:pt-[150px] sm:pt-[130px] pt-20 pb-10">
    <!-- Main Content -->
    <div class="relative z-10 text-center">
      <!-- Main Heading -->
      <h1 class="text-white 1xl:mb-[30px] sm:mb-[18px] mb-3">
        {{ heading }}
      </h1>

      <!-- Description -->
      <p class="text-white font-light mx-auto 1xl:max-w-[798px] xl:max-w-[775px] max-w-[715px] w-full font-lexend 2xl:mb-[60px] sm:mb-10 mb-6">
        {{ description }}
      </p>

      <!-- Countdown Timer -->
      {{ if countdown_items }}
      <div class="flex justify-center items-center gap-[11px] sm:gap-4 md:gap-6 2xl:mb-16 1xl:mb-14 sm:mb-11 mb-7">
        {{ countdown_items }}
        <div class="bg-[#D9D9D940] backdrop-blur-xs p-4 flex items-center justify-center flex-col 1xl:h-[144px] 1xl:w-[144px] xl:w-[136px] xl:h-[136px] sm:w-[130px] sm:h-[130px] w-[65px] h-[65px]">
          <h1 class="text-white tabular-nums max-[640px]:leading-[27px]" id="{{ label | lower }}">
            {{ value }}
          </h1>
          <p class="text-white p2 !font-medium font-lexend max-[640px]:!text-[7px] max-[640px]:leading-[16px]">
            {{ label | upper }}
          </p>
        </div>
        {{ /countdown_items }}
      </div>
      {{ /if }}

      <!-- Subscribe Section -->
      <div class="sm:mb-[70px] mb-[40px]">
        <p class="text-white 2xl:mb-10 sm:mb-7 mb-5 font-lexend !font-medium">
          {{ subscribe_text }}
        </p>
        <div class="flex justify-center items-stretch sm:flex-row flex-col gap-[18px] max-w-xl mx-auto">
          <form class="flex flex-col items-start gap-4 get-free-quote-form w-full">
            <div class="flex justify-end sm:flex-row flex-col xl:gap-5 gap-4 w-full">
            <input type="email" name="email" id="email" placeholder="{{subscribe_placeholder }}" class="flex bg-white text-black p font-lexend font-light px-6 py-3 focus:outline-none w-full" />
            <button class="btn btn-dark-reverse flex-shrink-0 sm:!w-fit !w-full max-[640px]:!py-2">
              {{ subscribe_button }}
            </button>
            </div>
            <p class="form-message" style="display:none;"></p>
          </form>
        </div>
      </div>

      <!-- Social Icons -->
      {{  if socials }}
      <div class="flex 2xl:space-x-[25px] lg:space-x-[22px] space-x-[18px] items-center justify-center">
        {{ socials }}
        <a href="{{ url }}" class="2xl:w-[50px] 2xl:h-[50px] xl:w-12 xl:h-12 md:w-11 md:h-11 sm:w-10 sm:h-10 w-9 h-9 flex items-center justify-center rounded-full bg-[#FFFFFF40] hover:bg-white backdrop-blur-xs group">
          <i class="fa-brands fa-{{ platform }} xl:text-[22px] text-5 text-white group-hover:text-primary-900 transition-all ease-in-out"></i>
        </a>
        {{ /socials }}
      </div>
      {{ /if}}
    </div>
  </div>
</main>

{{ /coming_soon }}