
<section class="wc-error">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="wc-error-content">
                    <div class="wc-error-title">
                        <img src="{{ theme:asset src='assets/images/error.png' }}" alt="../">
                        <h3>Oops! Page not found</h3>
                        <p>The page you are looking is not available or has been removed. Try going to Home
                            Page by using the button below.</p>
                        <div class="contact_button">
                            <a href="{{ site:url }}" class="all-btn btn-primary">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
