
<!-- start hero section -->
<section class="hero-section md:min-h-screen relative">
  <div class="container">
    <div class="relative -mx-5 md:mx-0">
      {{ banner }}
      <div class="single-hero-banner">
        <img src="{{ url }}" alt="hero img" class="w-full object-cover h-full absolute top-0 left-0">
      </div>
      {{ /banner }}
      <div class="absolute bottom-0 right-5 md:right-0 py-5 sm:py-8 lg:py-12 px-6 md:px-14 bg-white text-center md:text-left lg:max-w-[545px] w-[calc(100%-40px)] lg:w-full">
        <h1 class="mb-0">{{ title }}</h1>
      </div>
    </div>
    <div class="bg-primary-900 py-7 xl:py-14 px-6 xl:px-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 1xl:grid-cols-5 gap-6 xl:gap-8 1xl:gap-5 mb-10 xl:mb-20 text-center sm:text-left">
      {{ project_details }}
      <div>
        <h3 class="text-white mb-2 lg:mb-5">{{ detail_title }}</h3>
        <p class="text-white mb-0 font-medium lg:text-2xl">{{ detail_value }}</p>
      </div>
      {{ /project_details }}
    </div>

    <div>{{ description }}</div>
  </div>
</section>
<!-- end hero section -->


<!-- start Our Gallery section -->
<section class="relative py-8 md:py-10">
  
  <!-- Our Gallery slider-->
  <div class="project-detail-slider overflow-hidden">
    <div class="container">
      <div class="swiper mySwiper pr-10 sm:pr-[5%] lg:pr-[8%] overflow-visible">
        <div class="swiper-wrapper">
          {{ gallery }}
          <div class="swiper-slide">
            <div class="project-detail-box">
              <div class="our-gallery-img w-full relative before:pt-full before:block">
                <img src="{{ url }}" alt="img" class="h-full w-full object-cover absolute top-0 left-0">
              </div>
            </div>
          </div>
          {{ /gallery }}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Our Gallery section -->

<!-- start Project Milestones section -->
<section class="our-Why-us-section relative md:py-8 lg:py-12">
  <div class="container">
    <div class="mb-5 md:mb-10">
      <h2 class="title mb-0">Project Milestones</h2>
    </div>

    <div class="space-y-10">
      <!-- Project Milestones list-->
      {{ milestones }}
      <div class="md:flex items-start">
        <div class="shrink-0 md:max-w-[250px] lg:max-w-[283px] w-full relative before:pt-full before:block md:mr-8 lg:mr-14">
          {{ milestone_image }}
          <img src="{{ url }}" alt="img" class="h-full w-full object-cover absolute top-0 left-0">
          {{ /milestone_image }}
        </div>
        <div class="md:border-l-2 border-primary-900 md:pl-6 lg:pl-12 relative pt-7">
          <span class="absolute top-0 -left-4 border-2 border-primary-900 hidden md:block w-8 h-8 bg-white rounded-full"></span>
          <h6 class="text-lg md:text-2xl mb-1.5 md:mb-4 text-primary-900">{{ milestone_date }}</h6>
          <h3 class="text-[25px] leading-tight lg:text-[35px] xl:text-[40px] 2xl:text-[45px] mb-1.5"><a href="javascript:;" class="hover:text-primary-900">{{ milestone_title }}</a></h3>
          {{ milestone_description }}
        </div>
      </div>
      {{ /milestones }}

    </div>

  </div>
</section>
<!-- end Project Milestones section -->

<!-- start Our Work section -->
<section class="our-work-section relative py-8 lg:py-10 xl:py-12 z-1">
  <div class="container">
    <div class="text-center md:text-left md:flex items-center justify-between mb-5 lg:mb-10 border-b border-black/10 mb-10 pb-5">
      <h2 class="title md:mb-0">Artist of this Art</h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 md:gap-10 items-start">
      {{ artists }}
      <div class="relative before:pt-full before:block overflow-hidden group">
          <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
            {{ artist_image }}
            <img src="{{ url }}" alt="img" class="w-full h-full object-cover">
            {{ /artist_image }}
          </div>
          <div class="absolute top-0 left-0 w-full h-full flex items-end p-5 md:p-6 bg-[#747474]/60 transition-all translate-y-full group-hover:translate-y-0">
            <div class="text-white">
              <h3 class="text-white mb-0"><a href="javascript:;" class="hover:underline">{{ artist_name }}</a></h3>
              <span>{{ artist_position }}</span>
            </div>
          </div>
      </div>
      {{ /artists }}
      
    </div>          

  </div>
</section>
<!-- end Our Work section -->