
<!-- start Our Services section -->
<section class="our-services-section relative py-8 md:py-12 lg:mb-5 xl:mb-16">
  <div class="container">
    <div class="flex items-center justify-between sm:mb-5 md:mb-10">
      <h2 class="title">Our Services</h2>
    </div>
    <div class="border-t border-black" x-data="{selected:1}">
      {{ collection:services as="services" }}
      {{ services }}
      <div class="faqs-list relative group border-b border-black py-4 xl:py-6 " :class="[ selected == '{{ index | add:1 }}' ? 'active' : '' ]">
        <h3 class="faqs-title cursor-pointer flex items-start m-0 relative pl-0 pr-10 md:pr-16 gap-3 md:gap-5 xl:gap-8 text-black text-1xl leading-normal xl:text-[24px] 2xl:text-3xl font-medium" @click="selected !== {{ index | add:1 }} ? selected = {{ index | add:1 }} : selected = null" :class="[ selected == '{{ index | add:1 }}' ? 'active' : '' ]"><span>{{ index | add:1 }}</span> {{ title }}</h3>
        <div class="faqs-content overflow-hidden transition-all max-h-0 duration-700 md:pl-10 xl:pl-16" x-ref="container1" x-bind:style="selected == {{ index | add:1 }} ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          {{ if short_description != '' }} {{ short_description }} {{ else }} {{ description }} {{ /if }}
          <a href="{{ url }}" class="all-btn mt-6  mb-2">Read More</a>
        </div>
      </div>
      {{ /services }}
      {{ /collection:services }}

    </div>
  </div>
</section>
<!-- end Our Services section -->