
<!-- start Blog grid section -->
<section class="our-services-section relative py-8 md:py-12 lg:mb-5 xl:mb-16">
  <div class="container">
    <div class="flex items-center justify-between mb-5 lg:mb-10">
      <h2 class="title mb-0">Blog & News</h2>
    </div>
      {{ collection:blogs as="blogs" paginate="9" }}
      <div id="wc-item-list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10">

        <!-- blog box -->
        {{ blogs }}
        <div class="blog-box bg-gray-200 group">
          <div class="relative overflow-hidden before:pt-[52%] before:block">
            <a href="{{ url }}" class="absolute top-0 left-0 w-full h-full block">
              {{ thumb_image }}
              <img src="{{ url }}" alt="img" class="h-full w-full object-cover transition-all group-hover:scale-110 duration-300">
              {{ /thumb_image }}
            </a>
          </div>
          <div class="p-4 xl:p-7">
            <h3 class="border-b border-black/20 lg:pb-4 pb-2.5 lg:mb-5 mb-3"><a href="{{ url }}" class="group-hover:text-primary-900">{{ title }}</a></h3>
            <p class="m-0">{{ short_description }}</p>
          </div>
        </div>
        {{ /blogs }}

      </div>

      {{ paginate }}
      {{ if next_page }}
       <div id="pagination" data-next-page="{{ next_page }}" class="text-center mt-6 sm:mt-14">
        <button id="load-more-btn" class="all-btn btn-primary btn-icon">Load More <span class="load-more-btn wc-spinner hidden"><img src="{{ theme:asset src='assets/images/loader-icon.svg' }}" alt="loader-icon"></span></button>
      </div>
      {{ /if }}
      {{ /paginate }}
      {{ /collection:blogs }}
  </div>
</section>
<!-- end Blog grid section -->