{{ if display_type == 'select' }}
<section class="our-story-section relative 2xl:mb-[100px] 1xl:mb-20 lg:mb-[70px] md:mb-[50px] mb-8 z-20">
        <div class="relative overflow-hidden story flex md:flex-row flex-col items-center">
          <div class="xl:w-[48%] lg:w-1/2 md:w-[54%] w-full md:h-full sm:h-[400px] h-[294px] md:absolute relative">
            {{ banner_image }}<img src="{{ url }}" alt="img" class="w-full h-full object-cover" loading="lazy" />{{ /banner_image }}
          </div>

          <div
            class="bg-primary-900 z-1 lg:w-[57%] md:w-[80%] w-full relative 2xl:py-[72px] 2xl:px-[90px] xl:py-[50px] xl:px-[70px] lg:py-[42px] py-[36px] lg:px-[60px] md:px-[40px] ml-auto mr-0 2xl:my-[62px] xl:my-[52px] md:my-[48px]">
            <div class="container md:max-w-[852px] w-full relative z-1 md:ml-0 md:!p-0">
              <h2 class="text-white mb-0">{{ section_title }}</h2>
              <div class="sm:border-0 border-t border-white sm:mt-0 mt-5" x-data="{selected: 1}">
                <!-- FAQ 1 (default open) -->
                {{ faqs }}
                <div class="faqs-list border-b border-white 2xl:py-7 xl:py-[22px] sm:py-[18px] py-[15px]"
                  :class="selected == {{ index + 1 }} ? 'active' : ''">
                  <div class="flex items-center justify-between">
                    <!-- Title -->
                    <div
                      class="faqs-title cursor-pointer flex items-center md:pr-16 sm:pr-7 pr-4 gap-3 md:gap-5 xl:gap-[30px]"
                      @click="selected !== {{ index + 1 }} ? selected = {{ index + 1 }} : selected = null" :class="selected == {{ index + 1 }} ? 'active' : ''">
                      <h5 class="!text-white mb-0 font-normal">
                        {{ title }}
                      </h5>
                    </div>

                    <!-- Plus/Minus Icon -->
                    <div
                      class="bg-white rounded-full border border-white sm:p-2 p-[3px] 1xl:w-[42px] 1xl:h-[42px] lg:w-[38px] lg:h-[38px] sm:w-[35px] sm:h-[35px] w-[26px] h-[26px] flex items-center justify-center cursor-pointer"
                      @click="selected !== {{ index + 1 }} ? selected = {{ index + 1 }} : selected = null">
                      <svg class="w-[42px] stroke-primary-900 transition-all duration-300 ease-in-out"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2">
                        <!-- Horizontal line -->
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <!-- Vertical line -->
                        <line x1="12" y1="5" x2="12" y2="19" class="origin-center transition-all duration-300"
                          :class="selected == {{ index + 1 }} ? 'scale-y-0 opacity-0' : 'scale-y-100 opacity-100'" />
                      </svg>
                    </div>
                  </div>

                  <!-- Content -->
                  <div
                    class="faqs-content overflow-hidden transition-all max-h-0 duration-700 lg:pr-[30px] sm:pr-4 pr-0"
                    x-ref="container1"
                    x-bind:style="selected == {{ index + 1 }} ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
                    <p class="1xl:mt-[14px] mt-2 font-light text-white">
                     {{ answer }}
                    </p>
                  </div>
                </div>
                {{ /faqs }}
              </div>
            </div>
          </div>
        </div>
      </section>

{{ elseif display_type == 'list' }}


<div class="main-wrapper bg-white overflow-hidden">
            <div class="container lg:py-[70px] md:py-[60px] sm:py-[38px] py-[34px]">
                <h2 class="2xl:mb-[60px] 1xl:mb-12 lg:mb-10 md:mb-8 sm:mb-6 mb-5 sm:text-start text-center">
                    {{ section_title }}
                </h2>
                <div class="border-t border-[#00000026] sm:mt-0 mt-5 w-full" x-data="{selected: 1}">
                    <!-- FAQ 1 (default open) -->
                    {{ if collections == "faqs" }}
                    {{ collection:faqs }}

                    <div class="group faqs-list border-b border-[#00000026] 2xl:py-7 xl:py-[22px] sm:py-[18px] py-[15px]"
                        :class="selected == {{ index + 1 }} ? 'active' : ''">
                        <div class="flex items-center justify-between">
                            <div class="faqs-title cursor-pointer flex items-center md:pr-16 sm:pr-7 pr-4 gap-3 md:gap-5 xl:gap-[30px]"
                                @click="selected !== {{ index + 1 }} ? selected = {{ index + 1 }} : selected = null"
                                :class="selected == {{ index + 1 }} ? 'active' : ''">
                                <h5 class="mb-0 font-medium group-hover:text-primary-900">{{ title }}</h5>
                            </div>

                            <div class="bg-primary-900 rounded-full border border-white sm:p-2 p-[3px] 1xl:w-[42px] 1xl:h-[42px] lg:w-[38px] lg:h-[38px] sm:w-[35px] sm:h-[35px] w-[26px] h-[26px] flex items-center justify-center cursor-pointer"
                                @click="selected !== {{ index + 1 }} ? selected = {{ index + 1 }} : selected = null">
                                <svg class="w-[42px] stroke-white transition-all duration-300 ease-in-out"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2">
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                    <line x1="12" y1="5" x2="12" y2="19"
                                        class="origin-center transition-all duration-300"
                                        :class="selected == {{ index + 1 }} ? 'scale-y-0 opacity-0' : 'scale-y-100 opacity-100'" />
                                </svg>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="faqs-content overflow-hidden transition-all duration-700 2xl:pr-[30px] sm:pr-10 pr-0"
                            x-ref="container1" x-init="$nextTick(() => {
                          setTimeout(() => {
                            if (selected == {{ index + 1 }}) {
                              $el.style.height = $refs.container1.scrollHeight + 'px';
                            }
                          }, 50);
                        })" x-bind:style="selected == {{ index + 1 }}
                          ? 'height:' + $refs.container1.scrollHeight + 'px' 
                          : 'height:0px'">
                            <p class="1xl:mt-[14px] mt-2 font-light">{{ answer }}</p>
                        </div>
                    </div>
                    {{ /collection:faqs }}
                    {{ /if }}

                  </div>
            </div>
        </div>

      {{ /if }}