 <section class="relative 2xl:mb-[100px] 1xl:mb-20 lg:mb-[70px] md:mb-[50px] mb-8 z-1">
  <div class="text-slider overflow-hidden">
    <div class="slider-track flex animate-slides items-center 1xl:gap-7 md:gap-5 gap-4 flex-nowrap shrink-0">
      <!-- original set -->
      {{ text_slider }}
      <div class="flex items-center 1xl:gap-7 md:gap-5 gap-4 flex-shrink-0">
        <img src="{{ logo }} {{ url }} {{ /logo }}" class="logos" />
        <h5 class="logo-name">{{ text }}</h5>
      </div>
      {{ /text_slider }}
    </div>
  </div>
</section>