<section class="our-Why-us-section relative 2xl:mb-[100px] 1xl:mb-20 lg:mb-[70px] md:mb-[50px] mb-8 z-1">
  <div class="container">
    <div class="mb-5">
      <h2 class="2xl:mb-5 xl:mb-[18px] sm:mb-[12px] mb-1">
        {{ section_title }}
      </h2>
      <p class="2xl:mb-[55px] lg:mb-[50px] mb-[35px] font-light font-lexend">
        {{ section_description }}
      </p>
    </div>

    <div class="flex items-start justify-between md:flex-row flex-col w-full 2xl:gap-16 lg:gap-12 sm:gap-10 gap-[30px]">
      {{ stats }}
      <div class="md:w-[473px] w-full border-t border-primary-900 pt-[30px] lg:pt-10 2xl:pt-12 relative sm:before:w-5 sm:before:h-5 before:w-[15px] before:h-[15px] before:bg-primary-900 before:rounded-full before:absolute before:left-0 sm:before:-top-3 before:-top-[8px]">
        <div class="w-full flex xl:flex-row flex-col 1xl:gap-6 xl:gap-4 gap-[10px]">
          <h3 class="mb-0 shrink-0">{{ number }}</h3>
          <div>
            <h6 class="font-lexend 2xl:mb-6 xl:mb-[18px] mb-[10px]">{{ title }}</h6>
            <p class="font-lexend font-light 2xl:text-lg xl:text-base text-[15px]"> {{ description }} </p>
          </div>
        </div>
      </div>
      {{ /stats }}
    </div>
  </div>
</section>